<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento del Head y titulo  -->
<head th:replace="fragments/general.html :: Fragmento(titulo='Lista de Empleados')">
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{}"></a>                 <!-- COMPLETAR -->
        <form class="input-group mb-lg-3" method="post" th:action="@{}">                <!-- COMPLETAR -->
            <!-- COMPLETAR -->
            <div class="input-group-append">
                <!-- COMPLETAR -->
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->



            <table class="table table-sm" th:if="${}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Puesto</th>
                    <th>Departamento</th>
                    <th>Cuidad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employees, info : ${listaEmployees}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${employees.first_name}"></td>
                    <td th:text="${employees.last_name}"></td>
                    <td th:text="${employees.jobs.job_title}"></td>
                    <td th:text="${employees.departments.department_name}"></td>
                    <td th:text="${employees.departments.locations.city}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/Employee/edit' + '?id=' + ${employees.id}}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger" th:href="@{'/Employee/delete' + '?id=' + ${employees.id}}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>