<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento del Head y titulo  -->
<head th:replace="fragments/general.html :: Fragmento(titulo='Lista de Empleados')">
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{}"></a>                 <!-- COMPLETAR -->
        <form class="input-group mb-lg-3" method="post" th:action="@{}">                <!-- COMPLETAR -->
            <!-- COMPLETAR -->
            <div class="input-group-append">
                <!-- COMPLETAR -->
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
            <table class="table table-sm" th:if="${}">
                <thead>
                <tr>
                    <!-- COMPLETAR -->
                </tr>
                </thead>
                <tbody>
                <!-- COMPLETAR -->
                </tbody>
            </table>
        </div>
    </body>
</html>